@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Santio';
    src: url(../fonts/Santio\ regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Santio';
    src: url(../fonts/Santio\ Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Santio';
    src: url(../fonts/Santio\ Black.otf) format('opentype');
    font-weight: 900;
}

/* Farbe: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../img/cleo-topper.jpg) center / cover no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    font-family: 'Santio', sans-serif;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
    margin: 1% 10% 0 0;
}

nav li {
    list-style: none;
    display: inline;
    
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;   
    border-bottom: 3px solid #e7bc0e;
    color: #fff;
    letter-spacing: .5rem;
}

#sun {
    height: 1.5%;
    width: 1.5%;
    padding-right: 1.5%;
}

h1 {
    font-size: 7rem;
    width: 26%;
    color: #fff;
    margin: 10% 0 0 10%;
}

h2 {
    font-family: 'Mr Dafoe';
    color: #e7bc0e;
    font-size: 4rem;
    margin: 5% 0 0 10%;
}

h3 {
    font-size: 15rem;
    color: #e7bc0e; 
    width: 60%;
    margin: 5% 0 30% 15%;
    border: 1px solid green;
}

section:nth-of-type(2) p {
    color: #6bc1a3;
    width: 55%;
    margin: 30% auto;
    font-size: 3rem;
    line-height: 5rem;
    /* margin: 30% 0 50% 10%; */
}

#workers {
    height: 13%;
    width: 13%;
    margin-left: 15%;
}

section:nth-of-type(3) {
    
}