@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Santio';
    src: url(../fonts/Santio\ regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Santio';
    src: url(../fonts/Santio\ Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Santio';
    src: url(../fonts/Santio\ Black.otf) format('opentype');
    font-weight: 900;
}

/* Farbe: #e7bc0e  / #efefef / #6bc1a3 / #cb91b6 / #7eb8e1 / #000 / #fff */

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url(../img/cleo-topper.jpg) center / cover no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    font-family: 'Santio', sans-serif;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
    margin: 1% 10% 0 0;
}

nav li {
    list-style: none;
    display: inline;
    
}

nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;   
    border-bottom: 3px solid #e7bc0e;
    color: #fff;
    letter-spacing: .5rem;
}

#sun {
    height: 1.5%;
    width: 1.5%;
    padding-right: 1.5%;
}

h1 {
    font-size: 7rem;
    width: 26%;
    color: #fff;
    margin: 10% 0 0 10%;
}

h2 {
    font-family: 'Mr Dafoe';
    color: #e7bc0e;
    font-size: 4rem;
    margin: 5% 0 0 10%;
}

h3 {
    font-size: 15rem;
    color: #e7bc0e; 
    width: 60%;
    margin: 5% 0 0 15%;
}

.informations {
    font-size: 3rem;
    line-height: 5rem;
}

section:nth-of-type(2) .informations {
    border: 1px solid green;
    color: #6bc1a3;
    width: 55%;
    margin-left: 15%;
}

.informations:last-of-type {
    border: 1px solid red;
    width: 45%;
    margin-left: 35%;
    color: #7eb8e1;
}

section:nth-of-type(4) , section:nth-of-type(5){
    margin: 30% 0 30% 0;
}

.icons , .subline {
    margin-left: 15%;
}

.icons {
    height: 13%;
    width: 13%;
}

.subline {
    font-size: 4.2rem;
}

#sub-yellow {
    color: #e7bc0e;
}

#sub-rosa {
    color: #cb91b6;
    margin-top: 5%;
    margin-bottom: -3.5%;
}

#sub-green {
    color: #6bc1a3;
}

#sub-blue {
    color: #7eb8e1;
    width: 45%;
    margin-left: 40%;
}

.bg-text {
    background: #333;
    color: #fff;
    padding: .6%;
}

section:nth-of-type(6) {
    background: #fff;
}

#oben {
    height: 100vh;
    background: url(../img/see.png) center / cover no-repeat;
    z-index: 0;
    
}

#unten {
    height: 110vh;
    background: url(../img/kid.png) center / cover no-repeat;
    z-index: 1;
    margin-top: -56%;
}

footer {
    background: #000;    
    padding-bottom: 2%;
}

h4 {
    color: #fff;
    font-size: 10rem;
    width: 70%;
    padding: 20% 0 5% 10%;

}

footer a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

footer a:first-of-type:hover {
    box-shadow: 3px 3px #fff;
}

footer a:first-of-type:not(#roma-link) {
    color: #fff;
    font-size: 2rem;
    border: 1px solid #fff;
    padding: 1% 2%;
    margin-left: 10%;
    margin-bottom: 20%;
    display: inline-block;
}

footer p {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

#roma-link {
    color: #6bc1a3;
}

#roma-link:hover {
    border-bottom: 1.5px solid #6bc1a3;
}